.mainmenu-container {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
  border-bottom: 0.5px solid black;
}

.item-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 17px 0;
}

.item-price {
  margin: 3px 0;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.right-container {
  position: relative;
}

.item-description {
  text-align: left;
  font-size: 14px;
  margin-top: 14px;
  color: rgba(40, 44, 63, 0.45);
}
